@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --theme-color: #6c3524;
  --bg-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--theme-color);
}
